
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 62px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1280px
}

nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 30px;
}

.myName {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 640px;
}

.photo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 640px;

}

.photo>img {
    width: 400px;
    border-radius: 50%;
}

nav>a {
    display: flex;
    padding: 10px 15px;

}

.profileInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.link {
    display: flex;
    justify-content: flex-start;
    align-items:center;
    padding: 6px 10px;
}

.link>span {
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 24px;
    padding: 5px;
}
span::before{
    width: 32px;
    margin-right: 7px;
}
.tg>span::before{
    content:url(./assets/telegram_bavlya2x0i35.svg);    
}

.vk>span::before{
    content:url(./assets/vk_jwps1kngigw6.svg);    
}

.gmail>span::before{
    content:url(./assets/gmail_yfujqkbcq71j.svg);    
}

.link>a{
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

.generalInfo{
    font-family: 'Roboto Slab', serif;
    text-align: justify;
    font-size: 18px;
    letter-spacing: 0.07em;
    line-height: 1.5em;
}